body{
    display: inline-flex;
    padding: 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #FFF;
}
.headingFunction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.userHeading{
    color: #151B32;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.searching{
    display: flex;
    width: 300px;
    padding: 15px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid black;
}
#finding{
    width: 25px;
    height: 25px;
}
#search{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: #151B32;
    opacity: 0.7;
}
.function{
    display: flex;
    align-items: flex-start;
    border-radius: 4px;
}

#reputation{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #151B32;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
    word-wrap: break-word;
}
#newUsers{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 600;
    word-wrap: break-word;
    border-radius: 8px;
    background-color: #849FFF;
}
#voters{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    color: #151B32;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
    word-wrap: break-word;
}
#editors{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #151B32;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
    word-wrap: break-word;
}
#moderators{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #151B32;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
    word-wrap: break-word;
}
.users{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    box-sizing: border-box;
    padding: 70px 100px 100px 100px;
    width: 100px;
    height: 100px;

}
.row1{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.row2{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.person1{
    display: flex;
    width: 300px;
    height: 210px;
    padding: 24px;
    align-items: flex-start;
    gap: 16px;
}
#img1{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -61.055px -68.636px / 207.216% 259.021% no-repeat;
}
.intro1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
#name1{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 700;
}
#troy{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 500;
}
.f12{
    display: flex;
    align-items: flex-start;
    gap: 4px; 
}
.f34{
    display: flex;
    align-items: flex-start;
    gap: 4px; 
}
#clothes{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
    
}
#stem{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
.person2{
    display: flex;
    width: 300px;
    height: 210px;
    padding: 24px;
    align-items: flex-start;
    gap: 16px;
}
#img2{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -61.055px -68.636px / 207.216% 259.021% no-repeat;
}
.intro2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
#name2{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 700;
}
#forth{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 500;
}
#headset{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#gadget{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#speed{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#winter{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
.person3{
    display: flex;
    width: 300px;
    height: 210px;
    padding: 24px;
    align-items: flex-start;
    gap: 16px;
}
#img3{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -61.055px -68.636px / 207.216% 259.021% no-repeat;
}
.intro3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
#name3{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 700;
}
#austin{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 500;
}
#road{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#mountain{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#trip{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#earth{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#nature{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
.person4{
    display: flex;
    width: 300px;
    height: 210px;
    padding: 24px;
    align-items: flex-start;
    gap: 16px;
}
#img4{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -61.055px -68.636px / 207.216% 259.021% no-repeat;
}
.intro4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
#name4{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 700;
}
#oh{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 500;
}
#maintenance{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#gears{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#frames{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#repair{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
.person5{
    display: flex;
    width: 300px;
    height: 210px;
    padding: 24px;
    align-items: flex-start;
    gap: 16px;
}
#img5{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -61.055px -68.636px / 207.216% 259.021% no-repeat;
}
.intro5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
#name5{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 700;
}
#al{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 500;
}
#music{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#disks{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
.person6{
    display: flex;
    width: 300px;
    height: 210px;
    padding: 24px;
    align-items: flex-start;
    gap: 16px;
}
#img6{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -61.055px -68.636px / 207.216% 259.021% no-repeat;
}
.intro6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
#name6{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 700;
}
#nj{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151B32;
    font-weight: 500;
}
#vintage{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}
#electric{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    font-weight: 300;
}


